{% extends 'catalog/base.html' %}

{% block content_block %}
{% load my_tags %}

<div class="row">
    {% for category in category_list %}
    <div class="card mb-3 col-4" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{category.category_name}}</h5>
                    <p class="card-text">{{category.category_description|slice:50}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}