{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content_block %}
<div class="col-12">
    <form class="row" method="post">
        <div class="col-6">
            Product info
            <div class="card mb-3">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">
                    Save
                </button>
            </div>
        </div>

        <div class="col-3">
            Product version
            <div class="card mb-3">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                    {{ form.as_p }}
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </form>
</div>

{% endblock %}