{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content_block %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <h3>Product info</h3>
            <div class="card mb-3">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">
                    Save
                </button>
            </div>
        </div>
        {% if view.object %}
        <div class="col-3">
            <h3>Product version</h3>
            <div class="card mb-3">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                {{ form.as_p }}
                {% if not forloop.last %}
                <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </form>
</div>

{% endblock %}