{% extends 'catalog/base.html' %}

{% block content_block %}
{% load my_tags %}

<div class="row">
    {% for product in product_list %}
    <div class="card mb-3 col-4" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ product.product_image|photo_path }}" class="rounded float-start "
                     style="width: 6rem" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{product.product_name}}</h5>
                    <p class="card-text">{{product.product_description|slice:50}}</p>
                    <p class="card-text"><small class="text-body-secondary">{{product.product_category}}</small></p>
                    <p class="card-text"><small class="text-body-secondary">{{product.product_price}} $</small></p>
                    <p class="card-text"><small class="text-body-secondary">Created by:
                        {{product.created_by|default:"Nobody"}} </small></p>
                    <a href="{% url 'catalog:product_view' pk=product.pk %}" class="btn btn-secondary" tabindex="-1"
                       role="button" aria-disabled="true">To product</a>
                    {% if perms.catalog.change_product %}
                    <a href="{% url 'catalog:product_moder_update' pk=product.pk %}" class="btn btn-secondary"
                       tabindex="-1"
                       role="button" aria-disabled="true">Update info</a>
                    {% else %}
                    <a href="{% url 'catalog:product_update' pk=product.pk %}" class="btn btn-secondary" tabindex="-1"
                       role="button" aria-disabled="true">Update info</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<a class="btn btn-success mb-3" href="{% url 'catalog:product_create' %}" role="button">Add Product</a>

{% endblock %}