{% extends 'catalog/base.html' %}

{% block content_block %}

<div class="card mb-3">
    <img src="media/product/product.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{product_info.product_name}}</h5>
        <p class="card-text">{{product_info.product_description}}</p>
        <p class="card-text"><small class="text-body-secondary">{{product_info.product_category}}</small></p>
        <p class="card-text"><small class="text-body-secondary">{{product_info.product_price}}</small></p>
        <button type="button" class="btn btn-secondary">To product</button>
    </div>
</div>

{% endblock %}